body {
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  background-color: #faa5f5;
  padding: 0px;
  margin: 0;
  overflow-x: hidden;
}

.collection {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

video {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.title {
  position: fixed;
  top: 300px;
  text-align: center;
  max-width: 100%;
  width: 100%;
  z-index: 2;
}

#img1 {

}

#img2 {
  left: 35%;
}

#img3 {
  top: 40%;
  z-index: -2;
}

#img4 {
  top: 30%;
  left: 60%;
  z-index: -1;
}

#img5 {
  top: 80%;
  left: 10%;
  scale: 1.4;
  z-index: -3;
}

#img6 {
  top: 50%;
  left: 45%;
  z-index: -4;
}

#img7 {
  top: 95%;
  left: 70%;
  scale: 1.4;
  z-index: -4;
}

#img8 {
  top: 110%;
  scale: 1.15;
  z-index: -2;
}

#img9 {
  top: 150%;
  z-index: -5;
}

#img10 {
  top: 140%;
  left: 50%;
  z-index: -4;
}

#img11 {
  top: 140%;
  left: 25%;
  scale: 2;
  z-index: -6;
}

.PTAG {
    color: #ed98d3;
    font-size: 0.8em;
    white-space: nowrap;
}

.PTAG.front {
  color: #bf88a9;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: fixed;
  width: 100%;
  height: 136px;
  top: 300px;
  left: -14px;
  scale: 0.9;
  z-index: 6;
}

.PTAG.void {
  color: #f095e9;
  position: absolute;
  top: 1900px;
  left: 40%;
  scale: 1.4;
  opacity: 0.9;
  z-index: 1;
  transform: rotate(-45deg);
}

.PTAG.dark {
  color: #f5c9f2;
  position: absolute;
  top: 1400px;
  left: 85%;
  text-shadow: 0px 0px 2px #d87cd2;
  z-index: 1;
  transform: rotate(60deg);
}