@font-face {
    font-family: NotoSans-Bold;
    src: url(../Assets/228_NotoSans-Bold.ttf);
}
@font-face {
    font-family: NotoSans-Italic;
    src: url(../Assets/228_NotoSans-Italic.ttf);
}
@font-face {
    font-family: NotoSans-BoldItalic;
    src: url(../Assets/228_NotoSans-BoldItalic.ttf);
}
@font-face {
    font-family: NotoSans-Light;
    src: url(../Assets/228_NotoSans-Light.ttf);
}
@font-face{
    font-family: NotoSans-Medium;
    src: url(../Assets/228_NotoSans-Medium.ttf);
}
@font-face {
    font-family: NotoSans-SemiBold;
    src: url(../Assets/228_NotoSans-SemiBold.ttf);
}