@font-face {
    font-family: "NotoSans";
    src: url("../Assets/106_NotoSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("../Assets/106_NotoSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

:root {
    --color-primary: #597081;
    --color-secondary: #7ea0b7;
    --color-black: #000000;
    --color-grey: #36494e;
    --color-light-blue: #a9cef4;

    --flow-space: 2rem;

    --gap-400: 1rem;
    --gap-500: 2rem;
}

/* Composition classes */
.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

/* Utility classes */
.wrapper {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 768px;
}

.gap-400 {
    gap: var(--gap-400, 1em);
}

.gap-500 {
    gap: var(--gap-500, 1.5em);
}

.border-b-1 {
    border-bottom: 1px solid var(--color-secondary);
}

.flex {
    display: flex;
}

@media (max-width: 768px) {
    .flex {
        flex-wrap: wrap;
    }
}

.px-2 {
    padding-inline: 0.5rem;
}

.px-8 {
    padding-inline: 2rem;
}

.px-12 {
    padding-inline: 3rem;
}

.py-4 {
    padding-block: 1rem;
}

.py-8 {
    padding-block: 2rem;
}

.fs-20 p {
    font-size: 20px;
}

.fs-16 p {
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.flex-column {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.color-black {
    color: var(--color-black);
}

.color-grey {
    color: var(--color-grey);
}

.color-light-blue {
    color: var(--color-light-blue);
}

.bg-light-blue {
    background-color: var(--color-light-blue);
}
.color-primary {
    color: var(--color-primary);
}

.bg-primary {
    background-color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.uppercase {
    text-transform: uppercase;
}

.rounded-40 {
    border-radius: 40px;
}

.rounded-30 {
    border-radius: 30px;
}

.text-center {
    text-align: center;
}

/* Block classes */
h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

img {
    object-fit: cover;
}

header {
    max-width: min-content;
    padding-block-end: 1rem;
}

nav {
    margin-inline: auto;
    padding-block-end: 1rem;
}

#navbar-image, #navbar {
    position: relative;
}

#image-tag {
    color: var(--color-black);
    opacity: 0.25;
    position: absolute;
    bottom: 5px;
    left: 70px;
}

#navbar {
    height: 145px;
    min-height: fit-content;
    width: auto;
}

#navbar-tag {
    color: var(--color-black);
    opacity: 0.25;
    position: absolute;
    top: 5px;
    right: 10px;
}

#text-tag {
    color: var(--color-black);
    opacity: 0.25;
}

.nose {
    position: relative;
}

.nose img {
    width: 298px;
    height: 371px;
}

#face-link {
    position: absolute;
    top: 60px;
    left: 85px;
    width: 130px;
    height: 55px;
    border-radius: 20px;
}

.boop {
    color: var(--color-black);
    opacity: 0.25;
    position: absolute;
    top: 50%;
    left: 40%;
}

.flex-50 {
    flex: 50%;
}

/* Exception classes */
body {
    font-size: var(--fs-400);
    font-family: "NotoSans", sans-serif;
    color: var(--color-secondary);
    background-color: var(--color-grey);
    margin: 0;
}