@font-face {
    font-family: 'Cousine';
    src: url('../Assets/125_Cousine-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cousine-Bold';
    src: url('../Assets/125_Cousine-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Julius Sans One';
    src: url('../Assets/125_JuliusSansOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Libre Barcode 128 Text';
    src: url('../Assets/125_LibreBarcode128-Regular.ttf') format('truetype');
}

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
  color: inherit;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

:root { 
  --black: #000000;
  --cioccolato: #552e0a;
  --potters-clay: #8a6039;
  --spice: #66462a;
  --white: #ffffff;
   
  --font-size-l: 24px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xl: 32px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 40px;
  --font-size-xxxxl: 64px;
   
  --font-familiy-cousine: "Cousine", Helvetica;
  --font-family-cousine-bold: "Cousine-Bold", Helvetica;
  --font-family-julius_sans_one: "Julius Sans One", Helvetica;
  --font-family-libre_barcode_128_text: "Libre Barcode 128 Text", Helvetica;
}

/** navbar **/

.navbar {
  background-color: transparent;
  height: 72px;
  min-width: 917px;
  mix-blend-mode: normal;
  position: relative;
}

.nav-line {
  background-color: transparent;
  height: 4px;
  left: -0px;
  position: absolute;
  top: 68px;
  width: 917px;
}

.buttons {
  background-color: transparent;
  height: 29px;
  left: 603px;
  position: absolute;
  top: 28px;
  width: 314px;
}

.apply {
  background-color: transparent;
  height: 29px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.faq-btn {
  background-color: transparent;
  height: 29px;
  left: 117px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.home {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.btn {
  background-color: var(--spice);
  height: 29px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 78px;
}

.txt {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 66px;
  font-family: 'Cousine';
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.logo {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 306px;
}

.logo img {
  background-color: transparent;
  height: 57px;
  left: 248px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 56px;
}

.logo div {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  white-space: nowrap;
  width: auto;
  font-family: 'Cousine';
  font-weight: regular;
  color: white;
  font-size: 36px;
}

/** PAGES **/

/** INDEX **/

.index {
  align-items: center;
  background-color: var(--potters-clay);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 1471px;
  left: 0px;
  min-width: 1000px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  padding: 8px 0px;
  position: relative;
  top: 0px;
}

.welcome-title {
  background-color: transparent;
  height: 73px;
  min-width: 656px;
  position: relative;
}

.welcome-title h1 {
  background-color: transparent;
  color: var(--white);
  font-family: Cousine;
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.paragraph1 {
  background-color: transparent;
  height: 222px;
  min-width: 756px;
  position: relative;
}

.paragraph1 p {
  left: 0px;
  top: 0px;
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  width: 400px;
  font-family: 'Cousine';
  font-weight: regular;
  color: white;
  font-size: 16px;
}

.paragraph1 img {
  background-color: transparent;
  height: 201px;
  left: 466px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 288px;
}

.paragraph2 {
  background-color: transparent;
  height: 241px;
  min-width: 846px;
  position: relative;
}

.paragraph2 img {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 391px;
}

.paragraph2 p {
  left: 444px;
  top: 17px;
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  width: 400px;
  font-family: 'Cousine';
  font-weight: regular;
  color: white;
  font-size: 16px;
}

.paragraph3 {
  background-color: transparent;
  height: 525px;
  min-width: 829px;
  position: relative;
}

.paragraph3 img {
  background-color: transparent;
  height: 475px;
  left: 457px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 370px;
}

.paragraph3 p {
  left: 0px;
  top: 1px;
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  width: 400px;
  font-family: 'Cousine';
  font-weight: regular;
  color: white;
  font-size: 16px;
}

.start-earning {
  background-color: transparent;
  height: 82px;
  margin-right: -2.00px;
  min-width: 1002px;
  position: relative;
}

.start-earning img {
  background-color: transparent;
  height: 12px;
  left: 462px;
  position: absolute;
  top: 76px;
  width: 76px;
}

.start-earning p {
  -webkit-text-stroke: 1px #00000030;
  background-color: transparent;
  color: var(--white);
  font-family: Cousine;
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: -1px;
  width: 1000px;
}

/** FAQ **/

.faq {
  align-items: center;
  background-color: var(--potters-clay);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 2355px;
  left: 0px;
  min-width: 995px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  padding: 8px 39px;
  position: relative;
  top: 0px;
}

.page-header {
  font-family: 'Cousine';
  font-weight: normal;
  color: white;
  font-size: 20px;
}

.q1 {
  height: 266px;
  background-color: transparent;
  margin-right: -0.50px;
  min-width: 916px;
  position: relative;
}

.q2 {
  height: 267px;
  background-color: transparent;
  margin-right: -0.50px;
  min-width: 916px;
  position: relative;
}

.q3 {
  height: 198px;
  background-color: transparent;
  margin-right: -0.50px;
  min-width: 916px;
  position: relative;
}

.q4 {
  height: 310px;
  background-color: transparent;
  margin-right: -0.50px;
  min-width: 916px;
  position: relative;
}

.q5 {
  height: 358px;
  background-color: transparent;
  margin-right: -0.50px;
  min-width: 916px;
  position: relative;
}

.q6 {
  height: 130px;
  background-color: transparent;
  margin-right: -0.50px;
  min-width: 916px;
  position: relative;
}

.q7 {
  height: 155px;
  background-color: transparent;
  margin-right: -0.50px;
  min-width: 916px;
  position: relative;
}

.rect {
  background-color: var(--spice);
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 914px;
}

.rect2 {
  background-color: var(--cioccolato);
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 914px;
}

.text {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 20px;
  width: 872px;
  font-family: 'Cousine';
  font-weight: normal;
  color: white;
  font-size: 20px;
}

/** QUESTIONS **/

.questions {
  align-items: center;
  text-align: center;
  background-color: var(--potters-clay);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 83px;
  left: 0px;
  min-width: 100%;
  height: 100%;
  mix-blend-mode: normal;
  overflow-x: hidden;
  padding: 8px 21px;
  position: relative;
  top: 0px;
}

form {
  overflow-y: hidden;
  overflow-x: auto;
}

.survey-question {
  
}

.survey-question p {
  padding-block: 5px;
  background-color: #552e0a;
  font-family: Cousine;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.survey-scale label {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-family: Cousine;
  color: white;
  font-weight: 400;
  background-color: #66472A;
}

.survey-scale input[type="radio"] {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.survey-scale label:hover {
  background-color: #7e440f;
}

.survey-scale input[type="radio"]:checked + label {
  background-color: #552e0a;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

#submitBtn {
  padding: 15px 25px;
  font-size: 16px;
  font-family: Cousine;
  color: white;
  font-weight: 700;
  background-color: #66472A;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: #552E0A;
}

/*
button[type="submit"] {
  padding: 15px 25px;
  font-size: 16px;
  font-family: Cousine;
  color: white;
  font-weight: 700;
  background-color: #66472A;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #552E0A;
}
*/

.contact {
  background-color: transparent;
  position: relative;
  font-family: 'Cousine';
  font-weight: normal;
  color: white;
  font-size: 16px;
}

#resultMessage {
  margin-top:1em;
  background-color: transparent;
  position: relative;
  font-family: 'Cousine';
  font-weight: normal;
  color: white;
  font-size: 24px;
}


.submit {
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  text-align: center;
  top: 15px;
  white-space: nowrap;
  width: auto;
}

.email {
  background-color: #d9d9d94a;
  border: 1px solid;
  border-color: #000000cf;
  height: 23px;
  left: 318px;
  mix-blend-mode: normal;
  position: fill;
  top: 0px;
  width: 435px;
  font-family: 'Cousine';
  font-weight: normal;
  color: white;
  font-size: 16px;
}

.questions .submit {
  background-color: transparent;
  position: fill;
  top:20px;
  width: 50%;
}

/** SECRET **/

.secret {
  background-color: transparent;
  background-image: url(../Images/125_secret.svg);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  height: 1255px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.page {
  background-color: transparent;
  height: 1132px;
  left: 116px;
  position: relative;
  top: 51px;
  width: 60%;
}

.bg-txt {
  background-color: transparent;
  color: #ffffff4c;
  filter: blur(6px);
  font-family: var(--font-family-libre_barcode_128_text);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 133px;
  width: 750px;
  overflow-wrap: break-word;
}

.door {
  background-color: transparent;
  height: 940px;
  left: 68px;
  position: absolute;
  top: 192px;
  width: 614px;
}

.inner-rect1 {
  height: 940px;
  left: 0px;
  top: 0px;
  width: 612px;
}

.inner-rect2 {
  height: 982px;
  left: 0px;
  object-fit: cover;
  top: -21px;
  width: 654px;
}

.barcode {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-libre_barcode_128_text);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  top: 872px;
  white-space: nowrap;
  width: auto;
}

.lock {
  background-color: transparent;
  height: 496px;
  left: 58px;
  mix-blend-mode: normal;
  position: absolute;
  top: 293px;
  width: 207px;
}

.key {
  background-color: transparent;
  height: 137px;
  left: 253px;
  mix-blend-mode: normal;
  position: absolute;
  top: 567px;
  width: 305px;
}

.secret-title {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-julius_sans_one);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 0.8;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 524px;
}

.subtxt {
  font-size: var(--font-size-xl);
  font-style: normal;
}

.inner-rect {
  background-color: transparent;
  mix-blend-mode: normal;
  position: absolute;
}

.PTAG.push {
  font-size: 0.9em;
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  left: 680px;
  top: 130px;
  color: #6C5A2F;
}

.PTAG.text-dark {
  color: #462408;
  font-size: 0.9em;
}

.PTAG.inside {
  color: #895D33;
  font-size: 0.8em;
  position: absolute;
  left:380px;
  top: 1918px;
  z-index: 2;
}