
@font-face {
	font-family: Cardo-Regular;
	src: url("../Assets/164_Cardo-Regular.ttf");
}

body {
	overflow: hidden;
	background-color: black;
	color: white;
	font-family: Cardo-Regular;
}


#noContent {
	position: static;
	right: 0;
	bottom: 0;
	margin:auto;
	z-index: 0;
	transform: translate(-18%, 0);
}

.message {
	position: absolute;
	top:100px;
	left: 120px;
	bottom: 0;
	text-align: left;
	z-index: 2;
}

h3 {
	color: white;
	text-align: left;
	font-size: 26pt;
	z-index: -1;
}

video {
	left: 400px;
}

.PTAG.inner{
	font-family: Cardo-Regular, sans-serif;
	color: #2A48B2;
	font-size: 14pt;
	transform: translate(500px,-942px);
	position: absolute;
}

.PTAG.stat{
	font-family: Cardo-Regular, sans-serif;
	color: #4874EB;
	font-size: 14pt;
	position: absolute;
	transform: translate(280px,-200px);
	writing-mode: vertical-rl;
	z-index: 3;
}

/*
.PTAG.shadow {
	color: #1A1A1A;
	font-size: 14pt;
	writing-mode: vertical-rl;
	filter: blur(0.75px);
	transform: translate(400px, 240px);
}
*/

.PTAG.FOUR {
	font-family: Cardo-Regular, sans-serif;
	color: #3AA0AF;
	font-size: 13pt;
	zoom: 0.8;
	position: absolute;
	transform: translate(1060px, -960px);
	z-index: 3;
}

/* index changes */

h1 {
	
}